/* Estilos para los párrafos generales */
.divuno {
font-family: Verdana;
border-color: black;
border-style: dotted;
background-color: salmon;
color: black;
}

/* Estilos para el párrafo especial */
div {
    margin: 3px;
    padding: 5px;
    background-color: blue;
    border: 5px double green;


}
